broker_url = 'redis://localhost:6379/0'
backend_url = 'redis://localhost:6379/0'
task_serializer = 'msgpack'
result_serializer = 'msgpack'
accept_content = ['application/x-msgpack', 'application/json']
